<html>

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script>
        $(document).ready(function() {
            window.addEventListener("load", function() {
                function sendData() {
                    const XHR = new XMLHttpRequest();

                    // Bind the FormData object and the form element
                    const FD = new FormData(form);

                    // Define what happens on successful data submission
                    XHR.addEventListener("load", function(event) {
                        const data = JSON.parse(event.target.responseText);
                        $("#textarea").val(data.result);
                        alert(data.message);
                    });

                    // Define what happens in case of error
                    XHR.addEventListener("error", function(event) {
                        alert('Oops! Something went wrong.');
                    });

                    // Set up our request
                    XHR.open("POST", "http://localhost:3000/db/getmax");

                    // The data sent is what the user provided in the form
                    XHR.send(FD);
                }

                // Access the form element...
                const form = document.getElementById("maxdataForm");

                // ...and take over its submit event.
                form.addEventListener("submit", function(event) {
                    event.preventDefault();

                    sendData();
                });
            });



        });
    </script>
</head>

<body class="content">
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/db/inserts">Data Insertions</a></li>
                    <li><a href="/db/view">View Data</a></li>
                    <li><a href="/db/clear">Clear Data</a></li>
                    <li class="active"><a href="/db/max">Max value</a></li>
                </ul>
            </nav>
        </div>
        <br/>
        <div class="container">
            <div>
                <div class="loadLeft addPadding">
                    <form id='maxdataForm'>

                        <h3><b>Max value</b></h3>
                        <div class="form-group  addPadding">
                            <input type="text" placeholder="Enter table name " id="tablename" class="form-control" name="tablename" required />
                        </div>
                        <div class="form-group  addPadding">
                            <input type="text" placeholder="Enter column name" id="columnname" class="form-control" name="columnname" required />
                        </div>
                        <div class="form-group">
                            <input type='submit' class="btn btn-primary" value='Get max value' />
                        </div>


                    </form>
                </div>
                <div class="loadRight addPadding">
                    <form id='displayForm'>

                        <h3><b>Result</b></h3>
                        <div class="form-group addPadding">
                            <textarea class="form-control textarea" placeholder="Max data will be displayed here.." id="textarea"></textarea>
                        </div>
                        <div class="form-group  addPadding">
                        </div>
                        <div class="form-group">

                        </div>


                    </form>
                </div>

            </div>

        </div>
    </div>

</body>

</html>