<html>

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script>
        $(document).ready(function() {
            window.addEventListener("load", function() {
                function sendData() {
                    const XHR = new XMLHttpRequest();

                    // Bind the FormData object and the form element
                    const FD = new FormData(form);

                    // Define what happens on successful data submission
                    XHR.addEventListener("load", function(event) {
                        const data = JSON.parse(event.target.responseText);
                        //  $("#textarea").val(data.result);
                        alert(data.message);
                        const result = JSON.parse(data.result);

                        //console.log(row);
                        debugger;
                        var t = "<table id=\"viewData\" class=\"table table-bordered\" style=\"overflow: scroll;\"><thead><tr>";
                        Object.keys(result[0]).forEach(function(key) {
                            //console.log(key, row[key]);
                            //$("#textarea").val($("#textarea").val() + "\t" + key);
                            t = t + "<th>" + key + "</th>";
                        });
                        // $("#textarea").val($("#textarea").val() + " ==== ::\n");
                        t = t + "</tr></thead><tbody>";
                        // result.shift();
                        result.forEach(row => {
                            //console.log(row);
                            t = t + "<tr>"
                            Object.keys(row).forEach(function(key) {
                                //console.log(key, row[key]);
                                //$("#textarea").val($("#textarea").val() + "\t" + row[key]);
                                t = t + "<td>" + row[key] + "</td>";
                            });
                            //$("#textarea").val($("#textarea").val() + " \n");
                            t = t + "</tr>"
                        });
                        /* Object.keys(data.result).forEach(function(key) {
                            console.log(key, data.result[key]);
                            $("#textarea").val($("#textarea").val() + data.result[key]);
                        }); */
                        t = t + "</tbody></table>";
                        $("#viewData").remove();
                        $("#result").append(t);
                        $(".loadRight").css("overflow", "scroll");
                    });

                    // Define what happens in case of error
                    XHR.addEventListener("error", function(event) {
                        alert('Oops! Something went wrong.');
                    });

                    // Set up our request
                    XHR.open("POST", "http://localhost:3000/db/getdata");

                    // The data sent is what the user provided in the form
                    XHR.send(FD);
                }

                // Access the form element...
                const form = document.getElementById("loaddataForm");

                // ...and take over its submit event.
                form.addEventListener("submit", function(event) {
                    event.preventDefault();

                    sendData();
                });
            });



        });
    </script>
</head>

<body class="content">
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/db/inserts">Data Insertions</a></li>
                    <li class="active"><a href="/db/view">View Data</a></li>
                    <li><a href="/db/clear">Clear Data</a></li>
                    <li><a href="/db/max">Max value</a></li>
                </ul>
            </nav>
        </div>
        <br/>
        <div class="container">
            <div>
                <div class="loadLeft addPadding">
                    <form id='loaddataForm'>

                        <h3><b>View Table Data</b></h3>
                        <div class="form-group  addPadding">
                            <input type="text" placeholder="Enter table name to load data" id="tablename" class="form-control" name="tablename" required />
                        </div>
                        <div class="form-group  addPadding">
                        </div>
                        <div class="form-group">
                            <input type='submit' class="btn btn-primary" value='View Table Data' />
                        </div>


                    </form>
                </div>
                <div class="loadRight addPadding">
                    <form id='displayForm'>

                        <h3><b>Result</b></h3>
                        <div class="form-group addPadding" id="result">
                            <!-- <textarea class="form-control textarea" placeholder="Table data will be displayed here.." id="textarea"></textarea> -->
                        </div>
                        <div class="form-group  addPadding">
                        </div>
                        <div class="form-group">

                        </div>


                    </form>
                </div>

            </div>

        </div>
    </div>

</body>

</html>